@{
    ViewData["Title"] = "Guest Index";
    Layout = "_Authenticated_Layout";
}


<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-6 col-xl-4 col-12 mb-4">
        <div class="card shadow border-left-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
                            <a href="/Guest/ListArticlesWithoutComment">
                                <span>Number of Articles without a comment</span>
                            </a>
                        </div>
                        <div class="text-dark font-weight-bold h2 mb-0 text-center">
                            <span id="withoutComment"></span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-4 col-12 mb-4">
        <div class="card shadow border-left-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase  mb-1">
                            <a class="text-success font-weight-bold text-xs" href="/Guest/ListArticlesWithoutCommentAfter14Days">
                                <span>Articles without any comment after 14 days</span>
                            </a>
                        </div>
                        <div class="text-dark font-weight-bold h2 mb-0 text-center">
                            <span id="withoutComment14Days"></span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar-times fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-1 mt-2 ">
        <div class="card card-small h-100">
            <div class="card-header border-bottom">
                <h6 class="m-0">Contributions in each Faculty</h6>
            </div>
            <div class="card-body d-flex py-0">
                <canvas id="articleChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mb-1 mt-2">
        <div class="card card-small h-100 pb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">Articles Approved</h6>
            </div>
            <form id="myForm" method="post" action="/Guest/Index" class="ml-3 mt-2">
                <input name="yearSelected" id="yearSelected" type="number" placeholder="Enter academic year" class="p-1 border-info rounded">
                <input type="submit" value="View Report" class="btn btn-info mb-1"/>
            </form>
            <div class="card-body d-flex py-0">
                <canvas id="percentArticleFacultyChart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-1 mt-2">
        <div class="card card-small h-100 pb-2">
            <div class="card-header border-bottom">
                <h6 class="m-0">Contributors in each Faculty</h6>
            </div>
            <div class="card-body d-flex py-0">
                <canvas id="contributorsOfFacultyChart"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

        var labelBarChart = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.FacultyList))');
        var dataBarChart = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.CountArticleOfFaculty))');

        var percent = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.PercentContributionsOfFaculty))');
        var yearSelected = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.Year))');

        var contributors = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.CountContributorsOfFaculty))');        
        
        var countArticles = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.CountArticle))');
        var countArticles14Days = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.CountArticle14Days))');

        document.getElementById('withoutComment').innerHTML = countArticles;
        document.getElementById('withoutComment14Days').innerHTML = countArticles14Days;
        
        var currentYear = new Date().getFullYear();
        if (yearSelected == null) {
            yearSelected = currentYear;
            document.getElementById("yearSelected").value = yearSelected;
            document.getElementById("myForm").submit();
        }

        var coloR = [];
        var dynamicColors = function () {
            var randomColor = Math.floor(Math.random() * 16777215).toString(16);
            return "#"+randomColor;
        };
        for (var i = 0; i < labelBarChart.length; i++) {
            coloR.push(dynamicColors());
        }

        var bar = $("#articleChart");
        var articleChart = new Chart(bar, {
            type: 'bar',
            data: {
                labels: labelBarChart,
                datasets: [{
                    data: dataBarChart,
                    backgroundColor: ['#ffefa1', '#94ebcd', '#6ddccf', '#ff75a0', '#ffcb91', '#383e56', '#4a47a3'],
                    borderColor: '#4a47a3',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                            beginAtZero: true,
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });
        var pie = $("#percentArticleFacultyChart");
        var percentArticleFacultyChart = new Chart(pie, {
            type: 'pie',
            data: {
                labels: labelBarChart,
                datasets: [{
                    label: "Article Approved in Faculty",
                    data: percent,
                    backgroundColor: ['#ffefa1', '#94ebcd', '#6ddccf', '#ff75a0', '#ffcb91', '#383e56', '#4a47a3'],
                    borderColor: '#4a47a3',
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Article Approved of each Faculty in ' + yearSelected
                },
            }
        });
        var contributorsChart = $("#contributorsOfFacultyChart");
        var contributorsOfFacultyChart = new Chart(contributorsChart, {
            type: 'bar',
            data: {
                labels: labelBarChart,
                datasets: [{
                    label: "Faculty",
                    data: contributors,
                    backgroundColor: ['#ffefa1', '#94ebcd', '#6ddccf', '#ff75a0', '#ffcb91', '#383e56', '#4a47a3'],
                    borderColor: '#4a47a3',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });

    });
    </script>
}