@page
@model RegisterModel
@using Megatron.Utility

@{
    ViewBag.Title = "Create User Account";
}

<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">User Management</h3>
    </div>
</div>
<div class="card shadow col-lg-6">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">
            Create a New Account
        </p>
    </div>
    <div class="card-body">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <div class="backgroundWhite shadowNew">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Input.FullName" class="col-form-label"></label>
                    </div>
                    <div class="col-md-10">
                        <input asp-for="Input.FullName" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Input.Email" class="col-form-label"></label>
                    </div>
                    <div class="col-md-10">
                        <input asp-for="Input.Email" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Input.ConfirmEmail" class="col-form-label"></label>
                    </div>
                    <div class="col-md-10">
                        <input asp-for="Input.ConfirmEmail" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Input.PhoneNumber" class="col-form-label"></label>
                    </div>
                    <div class="col-md-10">
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Input.Password" class="col-form-label"></label>
                    </div>
                    <div class="col-md-10">
                        <input asp-for="Input.Password" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Input.ConfirmPassword" class="col-form-label"></label>
                    </div>
                    <div class="col-md-10">
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="col-form-label">Role</label>
                    </div>
                    <div class="col-md-10">
                        @if (User.IsInRole(SystemRoles.Administrator))
                        {
                            <select name="rdUserRole" id="inputRole" class="form-control">
                                <option selected>Choose...</option>
                                <option  value="@SystemRoles.Administrator">@SystemRoles.Administrator</option>
                                <option  value="@SystemRoles.MarketingManager">@SystemRoles.MarketingManager</option>
                                <option  value="@SystemRoles.MarketingCoordinator">@SystemRoles.MarketingCoordinator</option>
                                <option  value="@SystemRoles.Guest">@SystemRoles.Guest</option>
                                <option  value="@SystemRoles.Student">@SystemRoles.Student</option>
                            </select>
                        }
                        @if(User.IsInRole(SystemRoles.MarketingManager))
                        {
                            <select name="rdUserRole" id="inputRole" class="form-control">
                                <option value="@SystemRoles.Guest">@SystemRoles.Guest</option>
                                <option value="@SystemRoles.Student">@SystemRoles.Student</option>
                            </select>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 offset-md-2">
                        <button type="submit" class="btn btn-primary form-control">Create Account</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}