@model Megatron.ViewModels.ArticleFacultyViewModel

@{
    ViewData["Title"] = "Create Article";
    Layout = "_Authenticated_Layout";
}

<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Submit Article</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-9 col-md-12">
        <div class="card card-small mb-3">
            <div class="card-body">
                <form asp-action="SubmitArticle" enctype="multipart/form-data" id="SubmitForm" class="add-new-post">
                    <input asp-for="Article.Author" hidden class="form-control" readonly value="@Model.UserFullName"/>
                    <partial name="_StatusMessage" model="@ViewData["Message"]"/>
                    <input asp-for="Article.TermCondition" id="Article_TermCondition" type="text" hidden class="form-control"/>
                    <input asp-for="Article.Title" class="form-control form-control-lg mb-3" type="text" placeholder="Your Post Title" required>
                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Article.FacultyId" class="col-form-label"></label>
                        </div>
                        <div class="col-5">
                            <select asp-for="@Model.Article.FacultyId" asp-items="@Model.Faculties.Select(f => new SelectListItem {Text = f.FacultyName.ToString(), Value = f.Id.ToString()})" class="form-control"></select>
                        </div>
                    </div>
                    <div id="ImportFileCollapse" class="form-group row collapse multi-collapse">
                        <div class="col-2">
                            <label class="col-form-label">Import file</label>
                        </div>
                        <div class="input-group mb-3 col-auto">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input multiple type="file" name="file" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                                <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div id="TextAreaCollapse" class="form-group row collapse multi-collapse">
                        <div class="col-2">
                            <label asp-for="Article.Content" class="col-form-label"></label>
                        </div>
                        <div id="editor-container" class="ml-1 add-new-post__editor mb-1 col-12">
                            @Html.TextAreaFor(a => a.Article.Content, new {id = "editor"})
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
        <div class="card card-small mb-3">
            <div class="card-header border-bottom">
                <h6 class="m-0">Actions</h6>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <span class="d-flex mb-2">
                            <i class="material-icons mr-1">flag</i>
                            <strong class="mr-1">Semester:</strong>
                            @if (Model.Semester == null)
                            {
                                <b class="text-danger">No Active Semester</b>
                            }
                            else
                            {
                                @Model.Semester.SemesterName
                            }
                            <a class="ml-auto" href="#"></a>
                        </span>
                        <span class="d-flex mb-2">
                            <i class="material-icons mr-1">visibility</i>
                            <strong class="mr-1">Visibility:</strong>
                            <strong class="text-success">Public</strong>
                            <a class="ml-auto" href="#"></a>
                        </span>
                        <span class="d-flex mb-2">
                            <i class="material-icons mr-1">calendar_today</i>
                            <strong class="mr-1">Author:</strong>@Model.UserFullName
                            <a class="ml-auto" href="#"></a>
                        </span>
                        <span class="d-flex mb-2">
                            <i class="material-icons mr-1">score</i>
                            <label class="form-check-label" for="termAndCondition">
                                Agree with <a href="#" data-toggle="modal" data-target="#popupTermCondition">Terms and Conditions.</a>
                                <div class="modal fade" id="popupTermCondition" tabindex="-1" role="dialog" aria-labelledby="popupTermConditionTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="popupTermConditionTitle">Terms and Conditions</h5>
                                            </div>
                                            <div class="modal-body">
                                                <h2><strong>Terms and Conditions</strong></h2>
                                                
                                                <p>Welcome to Megatron!</p>
                                                
                                                <p>These terms and conditions outline the rules and regulations for the use of Megatron's Website, located at https://megatron.gcd-gw.com/.</p>
                                                
                                                <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Megatron if you do not agree to take all of the terms and conditions stated on this page.</p>
                                                
                                                <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
                                                
                                                <h3><strong>Cookies</strong></h3>
                                                
                                                <p>We employ the use of cookies. By accessing Megatron, you agreed to use cookies in agreement with the Megatron's Privacy Policy. </p>
                                                
                                                <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
                                                
                                                <h3><strong>License</strong></h3>
                                                
                                                <p>Unless otherwise stated, Megatron and/or its licensors own the intellectual property rights for all material on Megatron. All intellectual property rights are reserved. You may access this from Megatron for your own personal use subjected to restrictions set in these terms and conditions.</p>
                                                
                                                <p>You must not:</p>
                                                <ul>
                                                    <li>Republish material from Megatron</li>
                                                    <li>Sell, rent or sub-license material from Megatron</li>
                                                    <li>Reproduce, duplicate or copy material from Megatron</li>
                                                    <li>Redistribute content from Megatron</li>
                                                </ul>
                                                
                                                <p>This Agreement shall begin on the date hereof. Our Terms and Conditions were created with the help of the <a href="https://www.termsandconditionsgenerator.com">Terms And Conditions Generator</a> and the <a href="https://www.generateprivacypolicy.com">Privacy Policy Generator</a>.</p>
                                                
                                                <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Megatron does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Megatron,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Megatron shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>
                                                
                                                <p>Megatron reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
                                                
                                                <p>You warrant and represent that:</p>
                                                
                                                <ul>
                                                    <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
                                                    <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
                                                    <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
                                                    <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
                                                </ul>
                                                
                                                <p>You hereby grant Megatron a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
                                                
                                                <h3><strong>Hyperlinking to our Content</strong></h3>
                                                
                                                <p>The following organizations may link to our Website without prior written approval:</p>
                                                
                                                <ul>
                                                    <li>Government agencies;</li>
                                                    <li>Search engines;</li>
                                                    <li>News organizations;</li>
                                                    <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
                                                    <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
                                                </ul>
                                                
                                                <p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.</p>
                                                
                                                <p>We may consider and approve other link requests from the following types of organizations:</p>
                                                
                                                <ul>
                                                    <li>commonly-known consumer and/or business information sources;</li>
                                                    <li>dot.com community sites;</li>
                                                    <li>associations or other groups representing charities;</li>
                                                    <li>online directory distributors;</li>
                                                    <li>internet portals;</li>
                                                    <li>accounting, law and consulting firms; and</li>
                                                    <li>educational institutions and trade associations.</li>
                                                </ul>
                                                
                                                <p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of Megatron; and (d) the link is in the context of general resource information.</p>
                                                
                                                <p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.</p>
                                                
                                                <p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Megatron. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>
                                                
                                                <p>Approved organizations may hyperlink to our Website as follows:</p>
                                                
                                                <ul>
                                                    <li>By use of our corporate name; or</li>
                                                    <li>By use of the uniform resource locator being linked to; or</li>
                                                    <li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.</li>
                                                </ul>
                                                
                                                <p>No use of Megatron's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
                                                
                                                <h3><strong>Your Privacy</strong></h3>
                                                
                                                <p>Please read Privacy Policy</p>
                                                
                                                <h3><strong>Reservation of Rights</strong></h3>
                                                
                                                <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>
                                                
                                                <h3><strong>Disclaimer</strong></h3>
                                                
                                                <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
                                                
                                                <ul>
                                                    <li>limit or exclude our or your liability for death or personal injury;</li>
                                                    <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                                                    <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
                                                    <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
                                                </ul>
                                                
                                                <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>
                                                
                                                <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
                                            </div>
                                             <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            </label>
                            <a class="ml-auto">
                                <input class="form-check-input" type="checkbox" id="termAndCondition" required>
                            </a>
                        </span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <button hidden class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ImportFileCollapse" aria-expanded="false" aria-controls="ImportFileCollapse">
                        </button>
                        <button hidden class="btn btn-primary" type="button" data-toggle="collapse" data-target="#TextAreaCollapse" aria-expanded="false" aria-controls="TextAreaCollapse">
                        </button>
                        <button id="button-collapse" class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="ImportFileCollapse TextAreaCollapse">
                            Switch to Editor
                        </button>
                        @if (Model.Semester == null)
                        {
                            <button disabled form="SubmitForm" type="submit" class="btn btn-sm btn-accent ml-auto">
                                <i class="material-icons">file_copy</i> Submit
                            </button>
                        }
                        else
                        {
                            <button id="submitButton" disabled form="SubmitForm" type="submit" class="btn btn-sm btn-accent ml-auto">
                                <i class="material-icons">file_copy</i> Submit
                            </button>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/ckeditor5/build/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'),{
                ckfinder: {
                    uploadUrl: 'https://ckeditor.com/apps/ckfinder/3.5.0/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json'
                },
                toolbar: {
                    items: [
                        'heading',
                        '|',
                        'fontFamily',
                        'fontSize',
                        'fontColor',
                        'bold',
                        'italic',
                        'link',
                        'bulletedList',
                        'numberedList',
                        '|',
                        'indent',
                        'outdent',
                        'alignment',
                        '|',
                        'imageUpload',
                        'blockQuote',
                        'insertTable',
                        'mediaEmbed',
                        'undo',
                        'redo',
                        '|',
                        'exportWord',
                        'exportPdf'
                    ]
                },
                language: 'en',
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'imageStyle:full',
                        'imageStyle:side'
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells'
                    ]
                },
                licenseKey: '',
            })
            .then(editor => {
                editor.ui.view.editable._editableElement.style.height = '500px';
            })
            .then(editor => {
                
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        $('#ImportFileCollapse').collapse({
            toggle: true
        })
    </script>
    <script>
        $("#button-collapse").click(function () {
            const button_text = $('#button-collapse').text();
            if (button_text === "Switch to Import File") {
                $("#button-collapse").text("Switch to Editor");
            } else {
                $("#button-collapse").text("Switch to Import File");
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                let fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
    <script>
        $(function () {
            $("#termAndCondition").click(function () {
                if ($(this).is(":checked")) {
                    document.getElementById("Article_TermCondition").value = "true";
                    $("#submitButton").prop('disabled', false);
                } else {
                    document.getElementById("Article_TermCondition").value = "false";
                    $('#submitButton').prop('disabled', true);
                }
            });
        });
    </script>

}