@model Megatron.ViewModels.ArticleFacultyViewModel

@{
    ViewData["Title"] = "Create Article";
    Layout = "_Authenticated_Layout";
}

<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Submit Article</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-9 col-md-12">
        <div class="card card-small mb-3">
            <div class="card-body">
                <form asp-action="SubmitArticle" enctype="multipart/form-data" id="SubmitForm" class="add-new-post">
                    <input asp-for="Article.Author" hidden class="form-control" readonly value="@Model.UserFullName"/>
                    <partial name="_StatusMessage" model="@ViewData["Message"]"/>
                    <input asp-for="Article.TermCondition" id="Article_TermCondition" type="text" hidden class="form-control" />
                    <input asp-for="Article.Title" class="form-control form-control-lg mb-3" type="text" placeholder="Your Post Title" required>
                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Article.FacultyId" class="col-form-label"></label>
                        </div>
                        <div class="col-5">
                            <select asp-for="@Model.Article.FacultyId" asp-items="@Model.Faculties.Select(f => new SelectListItem {Text = f.FacultyName.ToString(), Value = f.Id.ToString()})" class="form-control"></select>
                        </div>
                    </div>
                    <div id="ImportFileCollapse" class="form-group row collapse multi-collapse">
                        <div class="col-2">
                            <label class="col-form-label">Import file</label>
                        </div>
                        <div class="input-group mb-3 col-auto">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input multiple type="file" name="file" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                                <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div id="TextAreaCollapse" class="form-group row collapse multi-collapse">
                        <div class="col-2">
                            <label asp-for="Article.Content" class="col-form-label"></label>
                        </div>
                        <div id="editor-container" class="ml-1 add-new-post__editor mb-1 col-12">
                            @Html.TextAreaFor(a => a.Article.Content, new {id = "editor"})
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
        <div class="card card-small mb-3">
            <div class="card-header border-bottom">
                <h6 class="m-0">Actions</h6>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <span class="d-flex mb-2">
                            <i class="material-icons mr-1">flag</i>
                            <strong class="mr-1">Semester:</strong>
                            @if (Model.Semester == null)
                            {
                                <b class="text-danger">No Active Semester</b>
                            }
                            else
                            {
                                @Model.Semester.SemesterName
                            }
                            <a class="ml-auto" href="#">Edit</a>
                        </span>
                        <span class="d-flex mb-2">
                            <i class="material-icons mr-1">visibility</i>
                            <strong class="mr-1">Visibility:</strong>
                            <strong class="text-success">Public</strong>
                            <a class="ml-auto" href="#">Edit</a>
                        </span>
                        <span class="d-flex mb-2">
                            <i class="material-icons mr-1">calendar_today</i>
                            <strong class="mr-1">Author:</strong>@Model.UserFullName
                            <a class="ml-auto" href="#">Edit</a>
                        </span>
                        <span class="d-flex mb-2">
                            <i class="material-icons mr-1">score</i>
                            <label class="form-check-label" for="termAndCondition">
                                Agree with <a href="#">Terms and Conditions.</a>
                            </label>
                            <a class="ml-auto"><input class="form-check-input" type="checkbox" id="termAndCondition" required></a>
                        </span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <button hidden class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ImportFileCollapse" aria-expanded="false" aria-controls="ImportFileCollapse">
                        </button>
                        <button hidden class="btn btn-primary" type="button" data-toggle="collapse" data-target="#TextAreaCollapse" aria-expanded="false" aria-controls="TextAreaCollapse">
                        </button>
                        <button id="button-collapse" class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="ImportFileCollapse TextAreaCollapse">
                            Switch to Editor
                        </button>
                        @if (Model.Semester == null)
                        {
                            <button disabled form="SubmitForm" type="submit" class="btn btn-sm btn-accent ml-auto">
                                <i class="material-icons">file_copy</i> Submit
                            </button>
                        }
                        else
                        {
                            <button form="SubmitForm" type="submit" class="btn btn-sm btn-accent ml-auto">
                                <i class="material-icons">file_copy</i> Submit
                            </button>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/ckeditor5/build/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'),{
                ckfinder: {
                    uploadUrl: 'https://ckeditor.com/apps/ckfinder/3.5.0/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json'
                },
                toolbar: {
                    items: [
                        'heading',
                        '|',
                        'fontFamily',
                        'fontSize',
                        'fontColor',
                        'bold',
                        'italic',
                        'link',
                        'bulletedList',
                        'numberedList',
                        '|',
                        'indent',
                        'outdent',
                        'alignment',
                        '|',
                        'imageUpload',
                        'blockQuote',
                        'insertTable',
                        'mediaEmbed',
                        'undo',
                        'redo',
                        '|',
                        'exportWord',
                        'exportPdf'
                    ]
                },
                language: 'en',
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'imageStyle:full',
                        'imageStyle:side'
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells'
                    ]
                },
                licenseKey: '',
            })
            .then(editor => {
                editor.ui.view.editable._editableElement.style.height = '500px';
            })
            .then(editor => {
                
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        $('#ImportFileCollapse').collapse({
            toggle: true
        })
    </script>
    <script>
        $("#button-collapse").click(function () {
            const button_text = $('#button-collapse').text();
            if (button_text === "Switch to Import File") {
                $("#button-collapse").text("Switch to Editor");
            } else {
                $("#button-collapse").text("Switch to Import File");
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                let fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
    <script>
        $(function () {
            $("#termAndCondition").click(function () {
                if ($(this).is(":checked")) {
                    document.getElementById("Article_TermCondition").value = "true";
                } else {
                    document.getElementById("Article_TermCondition").value = "false";
                }
            });
        });
    </script>
}