@model Megatron.ViewModels.SemesterViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Authenticated_Layout";
}
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Create Semester</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card card-small mb-3">
            <div class="card-body">
                <form asp-action="Create" id="SubmitForm" class="add-new-post">
                    <partial name="_StatusMessage" model="@ViewData["Message"]"/>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label asp-for="@Model.Semester.SemesterName" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9">
                            <input asp-for="@Model.Semester.SemesterName" class="form-control"/>
                            <span asp-validation-for="@Model.Semester.SemesterName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label asp-for="@Model.Semester.SemesterStartDate" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9">
                            <input asp-for="@Model.Semester.SemesterStartDate" class="form-control"/>
                            <span asp-validation-for="@Model.Semester.SemesterStartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label asp-for="@Model.Semester.SemesterClosureDate" class="col-form-label"></label>
                        </div>
                        <div class="col-md-9">
                            <input asp-for="@Model.Semester.SemesterClosureDate" class="form-control"/>
                            <span asp-validation-for="@Model.Semester.SemesterClosureDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label asp-for="@Model.Semester.SemesterEndDate"></label>
                        </div>
                        <div class="col-md-9">
                            <input asp-for="@Model.Semester.SemesterEndDate" class="form-control"/>
                            <span asp-validation-for="@Model.Semester.SemesterEndDate" class="text-danger"></span>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-9 col-lg-8"></div>
                    <div class="col-md-3 col-lg-4">
                        <input type="submit" form="SubmitForm" class="btn btn-info w-100" value="Create"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>