@model IEnumerable<Megatron.Models.Semester>
@{
    ViewData["Title"] = "Manage Semester";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Semester</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Semester" asp-action="Create" class="btn btn-primary">
                Create New Semester
            </a>
        </div>
    </div>

    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Semester Name
                </th>
                <th>
                    Semester Start
                </th>
                <th>
                    Semester End
                </th>
                <th>
                    Update At
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
            <tr>
                <td width="40%">@s.SemesterName</td>
                <td width="20%">@s.SemesterStartDate</td>
                <td width="20%">@s.SemesterEndDate</td>
                <td width="20%">@s.UpdateAt</td>
                <td class="text-center">
                    <div class="w-75 btn-group" role="group" >
                        <a asp-controller="Semester" asp-route-Id="@s.Id" asp-action="Edit" class="btn btn-primary mx-0">
                            Edit
                        </a>
                        <a asp-controller="Semester" asp-route-Id="@s.Id" asp-action="Delete" class="btn btn-danger mx-4" >
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>