@model Megatron.Models.Account

@{
    ViewData["Title"] = $"Editing {Model.Firstname+" "+ Model.Lastname}";
}

<p class="h3">You're editing: <strong>@Model.Firstname @Model.Lastname</strong></p>
<hr />

<form asp-action="Edit" enctype="multipart/form-data">

    <div class="row">
        <input type="hidden" asp-for="Id" />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Falcuty" class="control-label"></label>
                <input asp-for="Falcuty" class="form-control" />
                <span asp-validation-for="Falcuty" class="text-danger small"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BirthDate)
                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <hr />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-sm btn-outline-primary" /> 
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-info">Cancel</a> 
        <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Back to List</a>
    </div>
</form>